body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-image: url("../assets/images/background4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* Add this line */
    color: #333;
  }

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.menu-item a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}

.drop-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    z-index: 1;
    border-radius: 5px;
}

.drop-menu-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.drop-menu-item:last-child {
    border-bottom: none;
}

.drop-menu-item a {
    color: #333;
    display: block;
}

.menu-item:hover .drop-menu {
    display: block;
}

.settings-container {
    max-width: 600px;
    margin: 200px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.settings-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.settings-options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.settings-options button {
    padding: 10px 20px;
    background-color: rgb(0, 87, 146);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.settings-options button:hover {
    background-color: rgb(0, 70, 120);
}

.settings-section {
    display: none;
}

.settings-section h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.settings-form .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.settings-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.settings-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.settings-form button {
    padding: 10px 20px;
    background-color: rgb(0, 87, 146);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.settings-form button:hover {
    background-color: rgb(0, 70, 120);
}
