.rating_box {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.review_box {
    position: relative;
    background: #005b97;
    padding: 25px 50px 35px;
    border-radius: 25px;
}

.review_box header{
    font-size: 22px;
    color: #dadada;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.review_box .stars{
    display: flex;
    align-items: center;
    gap: 25px;
}

.stars span{
    color: #e6e6e6;
    font-size: 35px;
    cursor: pointer;
}

.checked {
    color: rgb(255, 208, 0);
}