body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



header {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid #1e6ea9;
}

h1 {
    margin: 0;
}


.container2 {
    background-color: rgba(23, 85, 121, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto; 
    margin-top: 150px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.container2 label {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.container2 select {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    background-color: #1e6ea9;
    color: white;
    appearance: none; 
}

.container2 select:focus {
    outline: none;
}

.container2 button {
    width: 100%;
    padding: 12px;
    background-color: #1e6ea9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.container2 button:hover {
    background-color: #14598a;
}

#priceDisplay {
    color: white;
    font-weight: bold;
    margin-top: 20px;

    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
